/********************** General **********************/

* {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
  }
  
body,
input,
button {
font-family: 'Questrial', sans-serif;
}

body {
font: 16px;
color: #555;
background: #fff;
}

header {
	text-align: center;  
	padding: 2rem 0 0 0;
	background: #fbfbfb;
	border: 1px solid #e4e4e4;
	border-bottom: none;
}

h1 {
	font-size: 1.5rem;
	margin: 0;
	color: #555;
}

a {
text-decoration: none;
}

/********************** Form **********************/

form {
	padding: .875em 1.875em 1.875em;
	background: #fbfbfb;
	border: 1px solid #e4e4e4;
	border-top: none;
}

fieldset,
legend,
button {
	padding: 0;
	border: none;
}

fieldset {
	margin-top: 1.5em;
}

legend,
button {
	font-size: 1.25em;	
}

legend {
	font-weight: 500;
	padding-top: 1.5rem;
	border-top: 1px solid #e4e4e4;
	margin-bottom: 1.125em;
}

fieldset:first-child legend {
	border-top: none;
	padding-top: 0;
}

input[type="text"],
input[type="email"],
legend {
	width: 100%;
}

label {
	color: #555;
	display: block;
	margin-bottom: .5em;
}

input,
select {
	margin-bottom: 1.125em;	
}

input {
	font-size: 1em;
	font-weight: 500;
	padding: .8em;
	background: #fff;
	border: 1px solid #e4e4e4;
	outline: none;
}

input:focus {
	background: #fff;
	border: 1px solid #349ef5;
	-webkit-transition: border-color .4s, background-color .4s;
	-o-transition: border-color .4s, background-color .4s;
	transition: border-color .4s, background-color .4s;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline-block;
}

button {
	color: #fff;
	padding: .55em 1.25em;
	background: #349ef5;
	margin: 1.25em 0 .5em;
	cursor: pointer;
	width: 100%;
	-webkit-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}

button:hover {
	background: #2a80c7;
}

/********************** Page **********************/

.container {
	margin: auto;
	max-width: 680px;
}

.shirt div {
	float: left;
	margin-right: .85em;
}

.interests input {
	margin-bottom: 0;
}

.credit-card {
	margin-top: 1.25em;
}

/********************** Helper classes **********************/

.is-hidden {
	display: none;
}

.clearfix::after {
content: " ";
display: table;
clear: both;
}

.disabled {
	color: #bbbbbb;
}

/********************** Media queries **********************/

@media (min-width: 768px) {
	header {
		margin-top: 2rem;
	}
	h1 {
		font-size: 1.75rem;
	}
	form {
		margin-bottom: 2rem;
	}
	.personal-info,
	.credit-card-info {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
			-ms-flex-pack: justify;
				justify-content: space-between;
	}
	.name, .email {
		width: 100%;
	}
	.name {
		margin-right: 10px;
	}
	#other-title {
		display: block;
		width: 49%;
	}
	.card-number {
		width: 65%;
		margin-right: 10px;
	}
	.zip-code {
		margin-right: 10px;
	}
	button {
		width: auto;
	}
}